affine
attrs
cftime
Click
click-plugins
cligj
cloudpickle
cycler
Cython
CythonGSL
dask
GDAL==2.1.3
kiwisolver
locket
lxml
matplotlib
netCDF4
numpy
opencv-python
pandas
partd
pygdal
pyparsing
rasterio
six
snuggs
scipy
toolz
xarray
